.app {
    text-align: center;
    padding: 20px;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.preview {
    width: 100%;
    height: 300px;
    border: 1px solid #ccc;
    margin-top: 20px;
}

.buttons {
    display: flex;
    gap: 20px;
}

.buttons :last-child {
    padding: 5px;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid gainsboro;
    cursor: pointer;
}